@{
    ViewData["Title"] = "Home Page";

}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">

    <div style="font-family: 'Candara', sans-serif; text-align: right; width: 50%;">

        <h1 style="font-size: 45px;">Online Book-Store</h1>
        <h5 style="font-size: 24px;">Final Project Presentation</h5>
        <h5 style="font-size: 16px;">Course CSI-244 Asp.Net Programming</h5>
        <h5 style="font-size: 16px;">Instructor: <strong>Josh Emery</strong></h5>
        <h5 style="font-size: 16px;">Student: <strong>Quoc Bao Tran</strong></h5>
        <h5 style="font-size: 16px;">Date: 11/5/2003</h5>
        <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
        <p></p>

    </div>

</div>


