@model FinalProject.Models.Order

<h2>Delete Order</h2>

<h3>Are you sure you want to mark this order as deleted?</h3>
<h4>Order Details</h4>

<div>
    
    <p>OrderId: @Model.OrderID</p>
    <p>CustomerID: @Model.CustomerID</p>
    <p>OrderDate: @Model.OrderDate</p>
    <p>TotalPrice: @Model.TotalPrice</p>

</div>

<!-- Form to confirm deletion -->
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="OrderID" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

